<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />
    <title>Doctor Dashboard</title>

    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}"> <!-- Shared styles -->
    <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>

    <script type="module" th:src="@{/js/doctorDashboard.js}" defer></script>
</head>

<body onload="renderContent()">
    <div class="container">
        <div class="wrapper">
            <div id="header"></div>

            <div class="main-content">
                <h2 class="table-header">Patient Appointments</h2>

                <div class="dashboard-controls">
                    <div class="filter-wrapper">
                        <button id="todayBtn" class="today-btn">Today</button>
                        <input type="date" id="datePicker" class="date-picker">
                    </div>
                    <input type="text" id="searchBar" class="searchBar" placeholder="Search Patient by Name...">
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Time Appointment</th>
                            <th>Details</th>
                            <th>Action</th> <!-- e.g. View Record / Prescription -->
                        </tr>
                    </thead>
                    <tbody id="appointmentTableBody">
                        <!-- Rows injected by JS -->
                    </tbody>
                </table>
                <p id="noRecordMsg" class="noPatientRecord" style="display:none;">No records found.</p>
            </div>

            <div id="footer"></div>
        </div>
    </div>
</body>

</html>